/* Footer styles */
.footer-wrapper {
    background-color: #87a0af;
    color: #fff5d7;
    font-family: "Ubuntu Condensed", sans-serif; 
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 420px;
    margin-top: -4px;
    
}

.footer-wrapper > .logo img {
    width: 200px;
    height: 100%;
    filter: brightness(100%);
}

.footer-wrapper > .icon {
    margin-right: 15px;
}

.footer-wrapper > .contact-hours-footer span {
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.footer-wrapper > .contact-hours-footer > .time {
    font-size: .8em;
    color: #697855;
    text-transform: uppercase;
}

.footer-wrapper > .links-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}

.footer-wrapper > .social-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer-wrapper > .social-wrapper a {
    font-size: 1.5em;
    color: #fff5d7;
    transition: 0.5s;
}

.footer-wrapper > .social-wrapper a:hover {
    color: #c8af7d;
}

.footer-wrapper > .copyright {
    color: #858585;
    font-size: 70%;
    margin-bottom: 42px;
}

.footer-wrapper > .address-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;
}

.footer-wrapper > .address-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}